<label for="items">Items per page:</label>

<select type="number" name="pages" id="pages" [(ngModel)]="selectedInterval" (change)="resetVals()">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="25">25</option>
</select>

<hr />

<p>
  {{singlePage * selectedInterval - selectedInterval + 1}} - {{singlePage * selectedInterval}} of {{data?.length}}
</p>

<hr />

<button (click)="restart()">
  << </button>
    <button (click)="previousInterval()">
      < </button>
        <button (click)="nextInterval()"> > </button>
        <button (click)="finalInterval()"> >> </button>

        <hr />
        <div *ngIf="singlePage <= 3 || singlePage >= totalPages - 2">
          <button>1</button>
          <button>2</button>
          <button>3</button>
          <button>...</button>
          <button>{{totalPages-2}}</button>
          <button>{{totalPages-1}}</button>
          <button>{{totalPages}}</button>

        </div>
        <div *ngIf="singlePage > 3 && singlePage < totalPages - 2">
          <button>1</button>
          <button>...</button>
          <button>{{singlePage-1}}</button>
          <button>{{singlePage}}</button>
          <button>{{singlePage+1}}</button>
          <button>...</button>
          <button>{{totalPages}}</button>

        </div>